# Learning Objectives
Upon completion of this lab, you should be able to
<ul>
 <li> use <strong>Pandas DateFrame</strong>
 <li> explore <strong>Pandas DateFrame</strong> basic properties
<li> clean <strong>Pandas DateFrame</strong>
    <li> extract useful information from <strong>Pandas DateFrame</strong>
</ul>

### Loading Modules

In [1]:
import pandas as pd
import numpy as np
import os
MB = 2**20 # 1 MegaByte = 2**20 Bytes

### The Data
<hr>
An unidentified flying object (UFO) is any perceived aerial phenomenon that cannot be immediately identified or explained (<a href='https://en.wikipedia.org/wiki/Unidentified_flying_object'>Wikipedia</a>).  A dataset of <strong>UFO</strong> sightings in the United States is provided below.
<hr>

In [2]:
ufo = pd.read_csv('http://bit.ly/uforeports')

## Task 1 (20 Marks)

<hr>
Display the first/last <b>7</b> seven rows of the <strong>ufo DataFrame</strong>. (4 Marks)</strong>
<hr>

In [3]:
# your code should goes here
#Printing first 7 rows of data frame
ufo.head(7)

                   City Colors Reported Shape Reported State             Time
0                Ithaca             NaN       TRIANGLE    NY   6/1/1930 22:00
1           Willingboro             NaN          OTHER    NJ  6/30/1930 20:00
2               Holyoke             NaN           OVAL    CO  2/15/1931 14:00
3               Abilene             NaN           DISK    KS   6/1/1931 13:00
4  New York Worlds Fair             NaN          LIGHT    NY  4/18/1933 19:00
5           Valley City             NaN           DISK    ND  9/15/1934 15:30
6           Crater Lake             NaN         CIRCLE    CA   6/15/1935 0:00

In [4]:
#Displaying last 7 rows of dataframe
ufo.tail(7)

                 City Colors Reported Shape Reported State              Time
18234        Capitola             NaN       TRIANGLE    CA  12/31/2000 22:00
18235  Fountain Hills             NaN            NaN    AZ  12/31/2000 23:00
18236      Grant Park             NaN       TRIANGLE    IL  12/31/2000 23:00
18237     Spirit Lake             NaN           DISK    IA  12/31/2000 23:00
18238     Eagle River             NaN            NaN    WI  12/31/2000 23:45
18239     Eagle River             RED          LIGHT    WI  12/31/2000 23:45
18240            Ybor             NaN           OVAL    FL  12/31/2000 23:59

<hr>
Using <b>list comprehension</b>, extract all the <strong>methods</strong> that are used to save a <strong>DataFrame</strong> into <strong>disk</strong>. (4 Marks)</strong>
<hr>

In [5]:
# your code should goes here

dataframe_val = [x for x in dir(pd.DataFrame)
                          if callable(getattr(pd.DataFrame, x))
                          and x.startswith('to_')]

print(f'\t To save the file methods are {dataframe_val}')

	 To save the file methods are ['to_clipboard', 'to_csv', 'to_dict', 'to_excel', 'to_feather', 'to_gbq', 'to_hdf', 'to_html', 'to_json', 'to_latex', 'to_markdown', 'to_numpy', 'to_orc', 'to_parquet', 'to_period', 'to_pickle', 'to_records', 'to_sql', 'to_stata', 'to_string', 'to_timestamp', 'to_xarray', 'to_xml']

<hr>
Save the <strong>ufo DataFrame</strong> into the following file format:
<ul>
    <li> <strong>CSV</strong> format <strong>(2 Marks)</strong>
    <li> <strong>JSON</strong> format <strong>(2 Marks)</strong>
    <li> <strong>Excel</strong> format <strong>(2 Marks)</strong>
    <li> <strong>HTML</strong> format <strong>(2 Marks)</strong>
     <li> <strong>Latex</strong> format <strong>(2 Marks)</strong>
    <li> <strong>Pickle</strong> format <strong>(2 Marks)</strong>
</ul>
All the files must be saved in <strong>data</strong> directory.
<hr>

In [6]:
# your code should goes here
#Saving the dataframe into csv format
ufo.to_csv('ufo.csv')

In [7]:
# your code should goes here
#Saving the dataframe into json format
ufo.to_json('ufo.json')

In [8]:
# your code should goes here
#Saving the dataframe into excel format
ufo.to_excel('ufo.xlsx')

In [9]:
# your code should goes here
#Saving the dataframe into html format
ufo.to_html('ufo.html')

In [10]:
# your code should goes here
#Saving the dataframe into latex format
ufo.to_latex('ufo.latex')

<ipython-input-10-dad3b612e2df>:3: FutureWarning: In future versions `DataFrame.to_latex` is expected to utilise the base implementation of `Styler.to_latex` for formatting and rendering. The arguments signature may therefore change. It is recommended instead to use `DataFrame.style.to_latex` which also contains additional functionality.
  ufo.to_latex('ufo.latex')

In [11]:
# your code should goes here
#Saving the dataframe into pickle format
ufo.to_pickle('ufo.pickle')

## Task 2 (40 Marks)

*italicized text*### <hr>
Display <strong>ufo DataFrame</strong> detailed info. <strong>(2 Marks)</strong>
<hr>

In [12]:
# your code should goes here
ufo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18241 entries, 0 to 18240
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   City             18216 non-null  object
 1   Colors Reported  2882 non-null   object
 2   Shape Reported   15597 non-null  object
 3   State            18241 non-null  object
 4   Time             18241 non-null  object
dtypes: object(5)
memory usage: 712.7+ KB

<hr>
Display <strong>ufo DataFrame</strong> shape . <strong>(2 Marks)</strong>
<hr>

In [13]:
# your code should goes here
ufo.shape

(18241, 5)

<hr>
Display <strong>ufo DataFrame</strong> columns names . <strong>(2 Marks)</strong>
<hr>

In [14]:
# your code should goes here
ufo.head(0)

Empty DataFrame
Columns: [City, Colors Reported, Shape Reported, State, Time]
Index: []

<hr>
Display <strong>ufo DataFrame</strong> row names . <strong>(2 Marks)</strong>
<hr>

In [15]:
# your code should goes here
row_val = ufo.index
print(row_val)

RangeIndex(start=0, stop=18241, step=1)

<hr>
Write a <strong>function</strong> <strong>get_size_in_memory()</strong> that displays the size of a <strong>DataFrame</strong> in <strong>memory (RAM)</strong> in <strong>MegaBytes</strong>. <strong>(8 Marks)</strong>
<hr>

In [16]:
# your code should goes here
import sys

def get_size_in_memory(df):
    size_bytes_val = sys.getsizeof(df)
    size_mb_val = size_bytes_val / (1024 * 1024)
    print(f"DataFrame size in memory: {size_mb_val:.2f} MB")

get_size_in_memory(ufo)

DataFrame size in memory: 5.08 MB

<hr>
Using the <strong>get_size_in_memory()</strong> function, display the size <strong>ufo DataFrame</strong> in memory with <strong>5 decimal</strong> places. <strong>(4 Marks)</strong>
<hr>

In [17]:
# your code should goes here
import sys

def get_size_in_memory(df):
    size_bytes_val = sys.getsizeof(df)
    size_mb_val = size_bytes_val / (1024 * 1024)
    print(f"DataFrame size in memory: {size_mb_val:.5f} MB")

get_size_in_memory(ufo)

DataFrame size in memory: 5.07897 MB

<hr>
Write a <strong>function</strong> with a name <strong>get_size_in_disk()</strong> that displays the size of a file in disk in <strong>MegaBytes</strong>. <strong>(8 Marks)</strong>
<hr>

In [18]:
# your code should goes here

def get_size_in_disk(file_path):
    size_bytes_val = os.path.getsize(file_path)
    size_mb_val = size_bytes_val / (1024 * 1024)
    print(f"File size on disk: {size_mb_val:.2f} MB")

file_path = "/content/ufo.csv"
get_size_in_disk(file_path)

File size on disk: 0.73 MB

[link text](https://)<hr>
Using the <strong>get_size_in_disk()</strong> function, display the size of each <strong>ufo</strong> file with <strong>3 decimal</strong> places. <strong>(12 Marks)</strong>
<hr>

In [32]:
#For csv file
import os

def display_csv_file_size(file_path):
    size_in_bytes = os.path.getsize(file_path)
    size_in_kb = size_in_bytes / 1024.0
    print(f"{file_path}: {size_in_kb:.3f} KB")

csv_file_path = "/content/ufo.csv"
display_csv_file_size(csv_file_path)

/content/ufo.csv: 749.237 KB

In [33]:
#For html file
import os

def display_csv_file_size(file_path):
    size_in_bytes = os.path.getsize(file_path)
    size_in_kb = size_in_bytes / 1024.0
    print(f"{file_path}: {size_in_kb:.3f} KB")

csv_file_path = "/content/ufo.html"
display_csv_file_size(csv_file_path)

/content/ufo.html: 2743.872 KB

In [34]:
#For json file
import os

def display_csv_file_size(file_path):
    size_in_bytes = os.path.getsize(file_path)
    size_in_kb = size_in_bytes / 1024.0
    print(f"{file_path}: {size_in_kb:.3f} KB")

csv_file_path = "/content/ufo.json"
display_csv_file_size(csv_file_path)

/content/ufo.json: 1560.421 KB

In [35]:
#For latex file
import os

def display_csv_file_size(file_path):
    size_in_bytes = os.path.getsize(file_path)
    size_in_kb = size_in_bytes / 1024.0
    print(f"{file_path}: {size_in_kb:.3f} KB")

csv_file_path = "/content/ufo.latex"
display_csv_file_size(csv_file_path)

/content/ufo.latex: 2369.390 KB

In [36]:
#For pickle file
import os

def display_csv_file_size(file_path):
    size_in_bytes = os.path.getsize(file_path)
    size_in_kb = size_in_bytes / 1024.0
    print(f"{file_path}: {size_in_kb:.3f} KB")

csv_file_path = "/content/ufo.pickle"
display_csv_file_size(csv_file_path)

/content/ufo.pickle: 759.434 KB

In [37]:
#For xlsx file
import os

def display_csv_file_size(file_path):
    size_in_bytes = os.path.getsize(file_path)
    size_in_kb = size_in_bytes / 1024.0
    print(f"{file_path}: {size_in_kb:.3f} KB")

csv_file_path = "/content/ufo.xlsx"
display_csv_file_size(csv_file_path)

/content/ufo.xlsx: 680.438 KB

### Task 3 (40 Marks)

Display the number of missing values per each column. (<strong>4 Marks</strong>)

In [38]:
# your code should goes here
ufo.isna().sum()

City                  25
Colors Reported    15359
Shape Reported      2644
State                  0
Time                   0
dtype: int64

Remove all the <strong>rows</strong> with missing values and store the result in a <strong>DataFrame</strong> with a name <strong>ufo_clean</strong>. Check that all <strong>missing values</strong> are removed.(<strong>6 Marks</strong>)

In [39]:
# your code should goes here
ufo_df1=ufo
ufo_df1

,City,Colors Reported,Shape Reported,State,Time
0,Ithaca,NaN,TRIANGLE,NY,6/1/1930 22:00
1,Willingboro,NaN,OTHER,NJ,6/30/1930 20:00
2,Holyoke,NaN,OVAL,CO,2/15/1931 14:00
3,Abilene,NaN,DISK,KS,6/1/1931 13:00
4,New York Worlds Fair,NaN,LIGHT,NY,4/18/1933 19:00
...,...,...,...,...,...
18236,Grant Park,NaN,TRIANGLE,IL,12/31/2000 23:00
18237,Spirit Lake,NaN,DISK,IA,12/31/2000 23:00
18238,Eagle River,NaN,NaN,WI,12/31/2000 23:45
18239,Eagle River,RED,LIGHT,WI,12/31/2000 23:45
18240,Ybor,NaN,OVAL,FL,12/31/2000 23:59

In [41]:
#Removing null values
ufo_df1.dropna(inplace= True)
ufo_df1.shape

(2486, 5)

In [42]:
#checking for any missing values
ufo_df1.isna().sum()

City               0
Colors Reported    0
Shape Reported     0
State              0
Time               0
dtype: int64

<hr>
Save the <strong>clean ufo DataFrame</strong> into the following file format:
<ul>
    <li> <strong>CSV</strong> format <strong>(1 Marks)</strong>
    <li> <strong>JSON</strong> format <strong>(1 Marks)</strong>
    <li> <strong>Excel</strong> format <strong>(1 Marks)</strong>
    <li> <strong>HTML</strong> format <strong>(1 Marks)</strong>
     <li> <strong>Latex</strong> format <strong>(1 Marks)</strong>
    <li> <strong>Pickle</strong> format <strong>(1 Marks)</strong>
</ul>
All the files must be saved in <strong>data</strong> directory.
<hr>

In [44]:
# your code should goes here
#csv
ufo_df1.to_csv('ufo_df1.csv')

In [45]:
#html
ufo_df1.to_csv('ufo_df1.html')

In [46]:
#json
ufo_df1.to_csv('ufo_df1.json')

In [47]:
#latex
ufo_df1.to_csv('ufo_df1.latex')

In [48]:
#pickle
ufo_df1.to_csv('ufo_df1.pickle')

In [49]:
#xlsx
ufo_df1.to_csv('ufo_df1.xlsx')

<hr>
Compute all the <strong>different UFO colors</strong> and the number of <strong>different UFO colors</strong>.(<strong>4 Marks</strong>)
<hr>

In [50]:
ufo_df1

               City Colors Reported Shape Reported State              Time
12           Belton             RED         SPHERE    SC   6/30/1939 20:00
19       Bering Sea             RED          OTHER    AK   4/30/1943 23:00
36       Portsmouth             RED      FORMATION    VA    7/10/1945 1:30
44        Blairsden           GREEN         SPHERE    CA   6/30/1946 19:00
82         San Jose            BLUE        CHEVRON    CA   7/15/1947 21:00
...             ...             ...            ...   ...               ...
18213      Pasadena           GREEN       FIREBALL    CA  12/28/2000 19:10
18216  Garden Grove          ORANGE          LIGHT    CA  12/29/2000 16:10
18220   Shasta Lake            BLUE           DISK    CA  12/29/2000 20:30
18233     Anchorage             RED        VARIOUS    AK  12/31/2000 21:00
18239   Eagle River             RED          LIGHT    WI  12/31/2000 23:45

[2486 rows x 5 columns]

In [53]:
ufo_df1.columns = ufo_df1.columns.str.replace(' ', '_')
ufo_df1.head(0)

Empty DataFrame
Columns: [City, Colors_Reported, Shape_Reported, State, Time]
Index: []

In [58]:
print(f'/t| Different colors in UFO are {ufo_df1.Colors_Reported.unique()} and number of colors are {ufo_df1.Colors_Reported.nunique()}')

/t| Different colors in UFO are ['RED' 'GREEN' 'BLUE' 'ORANGE' 'YELLOW' 'ORANGE YELLOW' 'RED GREEN'
 'RED BLUE' 'RED ORANGE' 'RED GREEN BLUE' 'RED YELLOW GREEN' 'RED YELLOW'
 'GREEN BLUE' 'ORANGE GREEN BLUE' 'ORANGE GREEN' 'YELLOW GREEN'
 'RED YELLOW BLUE' 'ORANGE BLUE' 'RED YELLOW GREEN BLUE' 'YELLOW BLUE'
 'RED ORANGE YELLOW' 'RED ORANGE GREEN' 'RED ORANGE BLUE'
 'YELLOW GREEN BLUE' 'ORANGE YELLOW GREEN' 'ORANGE YELLOW BLUE'] and number of colors are 26

<hr>
Compute all the <strong>different UFO shapes</strong> and the number of <strong>different UFO shapes</strong>.(<strong>4 Marks</strong>)
<hr>

In [62]:
# your code should goes here
print(f'/t| Shape of UFO is {ufo_df1.shape} and number of colors are {len(ufo_df1.shape)}')

/t| Shape of UFO is (2486, 5) and number of colors are 2

<hr>
Which <strong>state/city</strong> has the most <strong>UFO</strong> sightings? (<strong>5 Marks</strong>)
<hr>

In [74]:
# your code should goes here
sightings_by_state = ufo_df1.groupby("State")["City"].count().sort_values(ascending=False)
sightings_by_city = ufo_df1.groupby("City")["State"].count().sort_values(ascending=False)


print(f'/t| The city with the most UFO sightings is {sightings_by_city.index[0]} & state is {sightings_by_state.index[0]}')

/t| The city with the most UFO sightings is Seattle & state is CA

<hr>
In terms of <strong>color/shape</strong>, what is the <strong>most commonly</strong> reported <strong>UFO</strong>?
(<strong>5 Marks</strong>)
<hr>

In [76]:
# your code should goes here
sightings_by_color = ufo_df1.groupby('Colors_Reported')["City"].count().sort_values(ascending=False)
sightings_by_shape = ufo_df1.groupby('Shape_Reported')["City"].count().sort_values(ascending=False)

print(f'/t| The shape reported is {sightings_by_shape.index[0]} & color is {sightings_by_color.index[0]}.')

/t| The shape reported is LIGHT & color is RED.

<hr>
Identify all sightings where the <strong>state</strong> is California (<strong>CA</strong>), the <strong>UFO color</strong> is <strong>red</strong>, and the <strong>UFO shape</strong> is <strong>triangle</strong>. (<strong>6 Marks</strong>)
<hr>

In [78]:
# your code should goes here
filtered_sightings = ufo_df1[(ufo_df1["State"] == 'CA') & (ufo_df1["Colors_Reported"] == 'RED') & (ufo_df1["Shape_Reported"] == 'TRIANGLE')]
filtered_sightings

             City Colors_Reported Shape_Reported State              Time
2643      La Mesa             RED       TRIANGLE    CA    6/14/1974 5:30
3276    San Diego             RED       TRIANGLE    CA     7/1/1976 0:00
4491   Long Beach             RED       TRIANGLE    CA   1/15/1981 20:00
5992     Stockton             RED       TRIANGLE    CA  11/15/1988 18:00
6992   Chatsworth             RED       TRIANGLE    CA   3/15/1993 20:00
8127     Glendale             RED       TRIANGLE    CA   5/19/1995 22:00
11973  Coarsegold             RED       TRIANGLE    CA   8/13/1998 22:00
17296   San Diego             RED       TRIANGLE    CA   8/26/2000 21:30
17343     Redding             RED       TRIANGLE    CA    9/5/2000 21:25